* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
# SCSS should be counted
*.scss linguist-language=SCSS
/.github export-ignore
CHANGELOG.md export-ignore
